.music {
    margin-left: 25px;
    max-width: 100%;
    height: auto;
    background-color: transparent;
    border: none;
    opacity: 0.55;
    cursor: pointer;
    transition: .3s;
}

.music:hover {
    opacity: 0.95;
}